@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.jc_popup-conteudo{
    padding: 12px 14px;
    gap: 10px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 50px;
    text-align: center;
}


.jc_popup-conteudo a{
    margin-top: 20px;    
    padding: 10px 30px;
    text-decoration: none;
    background-color: #45734B;
    color: white;
    text-align: center;
    border-radius: 8px;
}



/* Responsivo: Celular pequeno */
@media (max-width: 480px) {
    .jc_popup-conteudo {
        width: 90%;
        padding: 16px 12px;
    }

    .jc_popup-conteudo a {
        font-size: 14px;
        padding: 8px 20px;
    }
}

/* Responsivo: Tablet */
@media (max-width: 768px) {
    .jc_popup-conteudo {
        width: 70%;
    }
}

/* Responsivo: Laptop pequeno */
@media (max-width: 1024px) {
    .jc_popup-conteudo {
        width: 50%;
    }
}

/* Responsivo: Telas maiores */
@media (max-width: 1400px) {
    .jc_popup-conteudo {
        width: 40%;
    }
}
