/* @import url(style_menu_superior.css); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
    animation: opacity 2s ease;
}

.ym_area{
    justify-content: space-around;
    padding: 5%;
    gap: 120px;
    display: grid;
    grid-template-columns: auto auto;
}

.ym_text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ym_text p{
    color: #00000080;
    width: 75%;
    font-size: 1rem;
    text-align: justify;
}

.ym_text h1{
    font-weight: 400;
    color: #000000B2;
    font-size: 2rem;
}

.ym_img-mobile{
    display: none;
}

.ym_text1, .ym_img1, .ym_img-mobile{
    animation: esquerda 1.5s ease;
}

.ym_text2, .ym_img2{
    animation: direita 1.5s ease;
}

.ym_img1, .ym_img2, .ym_img-mobile{
    transition: all 0.5s ease;
}
.ym_img1:hover, .ym_img2:hover, .ym_img-mobile:hover{
    transform: scale(1.03);
}

@keyframes esquerda {
    0%{
        opacity: 0;
        transform: translateX(-1000px);
    }

    100%{
        transform: translateX(0);
    }
}
@keyframes direita {
    0%{
        transform: translateX(1000px);
    }

    100%{
        transform: translateX(0);
    }
}
@keyframes opacity {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 600px){

    .ym_area{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .ym_text{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .ym_text p{
        padding: 20px;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .ym_text h1{
        text-align: left;
    }

    .ym_img-mobile, .ym_img1{
        width: 80%;
        display: block;
    }
    
    .ym_img2{
        display: none;
    }
}